# model de configurare pentru backend
# copiaza fisierul ca .env si completeaza valorile tale

DEEPSEEK_API_KEY=
PORT=

#protectie endpointuri
APP_SECRET=

#PostgreSQL
PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=

#jwt
JWT_SECRET=
JWT_EXPIRES=

#email + reset parola
EMAIL_USER=
EMAIL_PASS=
APP_BASE_URL=
FRONTEND_RESET_URL=
